<h1>All Posts</h1>

<% if user_signed_in? %>
  <p>Welcome, <%= current_user.email %>!</p>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: 'Are you sure you want to logout?' } } %>
<% else %>
  <%= link_to 'Login', new_user_session_path %> |
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <strong><%= link_to post.title, post %></strong>
      <% if post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-sm btn-warning" %>
      <% end %>
    </li>
  <% end %>
</ul>
